@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#menu-mobile {
  position: fixed;
  background: rgba(46, 204, 113, 0.8);
  width: 70vw;
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#menu-mobile ul {
  padding-left: 20%;
  padding-top: 40%;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
}

#menu-mobile ul li {
  margin-bottom: 1rem;
}

#menu-mobile ul li a {
  color: black;
}

#menu-mobile ul li a:hover {
  color: white;
}

.mobile-hidden {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

img {
  width: 100%;
}

.container {
  padding: 0 1rem;
}

.logo {
  width: 65px;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

.btn {
  padding: 1rem;
  font-weight: 500;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.btn-cta {
  background: #2ECC71;
  border: none;
  color: white;
}

.btn-cta:hover {
  background: #2aad61;
}

.btn-secondary {
  border: 2px #2ECC71 solid;
  color: #2ECC71;
}

.btn-secondary:hover {
  background: #2ECC71;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

header nav .menu {
  z-index: 5;
  width: 40px;
  cursor: pointer;
}

.section-hero__img {
  width: 60%;
  margin: 0 auto;
}

.section-hero__textbox {
  text-align: center;
  margin: 2rem 0 3rem;
}

.section-hero__textbox p {
  font-weight: 500;
  margin: .5rem 0 1rem;
}

.section-about {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #F9F4F4;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F9F4F4;
  padding: 2rem 0;
}

.section-about__illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-about__illustration--doctor {
  width: 100px;
}

.section-about__illustration--fruit {
  width: 50px;
}

.section-about__textbox {
  text-align: center;
}

.section-about__textbox h2 {
  font-weight: 700;
}

.section-about__textbox p {
  font-weight: 500;
  color: #444343;
  line-height: 1.3rem;
}

.section-process {
  padding: 3rem 0;
  text-align: center;
}

.section-process__showcase {
  margin-top: 2rem;
}

.section-process__showcase--steps {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "one one ." ". two two" "three  three ." ". four four";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-process__showcase--steps li {
  margin: 1rem 0;
}

.section-process__showcase--steps .step-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: one;
}

.section-process__showcase--steps .step-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: two;
}

.section-process__showcase--steps .step-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.section-process__showcase--steps .step-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: four;
}

.section-process__showcase--steps-step {
  border: 3px #2ECC71 solid;
  padding: .5rem 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: .5rem;
}

.section-process__showcase--steps-text {
  display: inline-block;
  font-weight: 500;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.section-process__showcase--illustration {
  margin: 2rem auto;
  width: 60%;
}

.section-components {
  background-color: #F9F4F4;
  text-align: center;
  padding: 2rem 0;
}

.section-components h2 {
  margin-bottom: 3rem;
}

.section-components__component {
  background: white;
  width: 90%;
  margin: 0 auto 1rem;
  padding: 3rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.section-components__component:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.section-components__component--icon {
  width: 70px;
  margin: 0 auto;
}

.section-components__component h3 {
  margin: 1rem 0 3rem;
}

.section-components__component--text {
  color: #444343;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.section-testimonials {
  padding: 2rem 0;
  background: url(../images/background-mountains.png);
  background-attachment: fixed;
  background-size: cover;
}

.section-testimonials__testimonial {
  background: white;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 2rem;
}

.section-testimonials__testimonial--text {
  font-size: .8rem;
  font-weight: 700;
  font-style: italic;
}

.section-testimonials__testimonial--name {
  margin-top: .8rem;
  position: relative;
  font-style: italic;
  font-size: .8rem;
}

.section-testimonials__testimonial--name::before {
  content: " ";
  width: 10px;
  height: 1px;
  background-color: black;
  position: absolute;
  left: -14px;
  top: 40%;
}

.section-signup {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.section-signup__text {
  font-size: .9rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}

.section-signup__left--signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-signup__left--signup-form label {
  text-align: left;
  font-size: .8rem;
  font-weight: 700;
  margin: .6rem 0 .2rem;
}

.section-signup__left--signup-form input {
  padding: .4rem;
}

.section-signup__left--signup-form input, .section-signup__left--signup-form textarea {
  border: 2px solid #2ECC71;
  border-radius: 5px;
}

.section-signup__left--signup-form input:focus, .section-signup__left--signup-form textarea:focus {
  outline: none;
}

.section-signup__left--signup-form .btn {
  margin-top: 1rem;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
}

.section-signup__left--signup-form .btn:focus {
  outline: none;
}

.section-signup__right {
  position: relative;
  margin-top: 3rem;
}

.section-signup__right:before {
  position: absolute;
  content: "";
  background: #2ECC71;
  width: 80%;
  height: 2px;
  top: -20px;
  left: 10%;
}

.section-signup__right .btn:first-of-type {
  margin-bottom: 1rem;
}

footer {
  padding: 3rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #2ECC71;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #2ECC71;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container a:hover {
  color: white;
}

footer .container .email {
  font-weight: 500;
  color: black;
}

footer .container .footer-links img {
  width: 25px;
}
/*# sourceMappingURL=main.css.map */